html{height: 100%;}
body{
	margin: 0;
	min-height: 100%;
	font-family: sans-serif;
	color: white;
	background: black;
	background-size: cover;
	display: grid;
	grid-template: 5rem 1fr/1fr;
}
header, main, footer, .vertical{
	display: flex;
	justify-content: center;
	align-items: center;
}
main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}
#cookie{height: 50vmin;}
#cookie:active{width: 48vmin; height: 48vmin;}

h1{margin: 0;}
img{
	height: 5rem;
	image-rendering: pixelated;
}

h2, h1, #cookie{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
	filter: drop-shadow(0 0 0.25rem #000);
}

#timeup{
	display: none;
	position: absolute;
	justify-content: start;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000000a0;
}
#timeupBox{
	background: #bc8327;
	padding: 20px;
	user-select: none;
	border: white solid 5px;
}
#tryAgain{
	text-decoration: underline;
	cursor: pointer;
}
#tryAgain:hover{opacity: 75%;}

td{text-align: right;}

.vertical{flex-direction: column;}

canvas {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}