@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
	/* Original colors:
		#b50077;
		#fff;
		#810AC2;
	*/

	--toppListe: linear-gradient(#411777, #41177799);
	--nyesteListe: linear-gradient(#971f51, #971f5199);
	--klientListe: linear-gradient(#133774, #13377499);

}

html, body, main{height: 100%;}
body{
	color: white;
	font-family: 'Roboto', sans-serif;

	display: grid;
	grid-template:  4rem 1fr 1fr/1fr 1fr;
	grid-template-areas: "header header"
	"main newest"
	"main client";
}
body, h1, h2{margin: 0;}
h2{padding: 10px;}

header{
	grid-area: header;
	padding: 0 20px;
	justify-content: space-between;
	background: #000;
}
img{
	height: 1.5rem;
	margin: 0 10px;
}
#connectionInfo{padding: 2px;}

#main, #newest, #client{
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0 20px;
	scrollbar-width: thin;
	scrollbar-color: #fff5 Transparent;
}
#main{
	grid-area: main;
	background: var(--toppListe, #531f97);
}
#newest{
	grid-area: newest;
	background: var(--nyesteListe, #971f51);
}
#client{
	grid-area: client;
	background: var(--klientListe, #133774);
}

table{
	border-spacing: 0px 0px;
  	table-layout: fixed;
}
th, td{
	font-size: 1.5rem;
	text-align: left;
	padding: 0px 10px;
}
.placement{
	padding: 5px 10px;
	border-right: 2px solid ;
}
.num{text-align: center;}
td img{
	height: 2rem;
	image-rendering: pixelated;
}
.spacer{width: 100%;}

::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {opacity: 0;}
::-webkit-scrollbar-thumb {background: #fff5;}
::-webkit-scrollbar-thumb:hover {background: #fff9;}

.horizontal, header, footer, h1{
	display: flex;
	align-items: center;
}