@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body, main{height: 100%;}
body{
	color: white;
	font-family: 'Roboto', sans-serif;

	display: grid;
	grid-template:  5rem 1fr 1fr/1fr 1fr;
	grid-template-areas: "header header"
	"main newest"
	"main client";
}
body, h1, h2{margin: 0;}
h2{
	padding: 10px;
}

header{
	grid-area: header;
	padding: 0 20px;
	justify-content: space-between;
	background: #000;
}
img{
	height: 1.5rem;
	padding: 0 10px;
}
#connectionInfo{padding: 2px;}

#main, #newest, #client{
	height: 100%;
	overflow: hidden;
	padding: 0 20px;
}
#main{
	grid-area: main;
	background: #b50077;
}
#newest{
	grid-area: newest;
	color: #b50077;
}
#client{
	grid-area: client;
	background: #810AC2;
}
table{border-spacing: 0px 0px;}
th, td{
	font-size: 1.5rem;
	text-align: left;
	padding: 0px 10px;
}
th{
	padding: 5px 10px;
	border-right: 2px solid ;
}
.num{
	text-align: center;
}


.horizontal, header, footer, h1{
	display: flex;
	align-items: center;
}